<li class='active'><a data-index='create' href='/ui/newsletter/{{id}}?templateIndex=create'>Create</a></li>
{{#each channels }}
  <li><a data-index="{{@index}}" href='/ui/newsletter/{{../id}}?templateIndex={{@index}}'>Preview in {{title}}</a></li>
{{/each}}