<table width='600px' style='font-family:Helvetica, Arial, sans-serif; font-size:1em'; >

  <tr>
    <td colspan='5'><img src='http://f.cl.ly/items/440H2i061W2D143r190t/header.jpg' /></td>
  </tr>
  <tr>
    <td colspan='5' style='font-size:.8em; text-align:right; color:#636363;'><%= newsletter.title %></td>
  </tr>

  <tr>
    <% for(var i=0; i<stories.length; i++) {%>
      <% if(stories[i].sort_index == 0) { %>
        <td>
          <% if(stories[i].images[0]){ %>
            <img style='width:190px;' src='<%= stories[i].images[0].url %>'>
          <% } %>
        </td>
        <td width='15px'></td>
        <td colspan='3'>
          <h2><a style='color:#428bca; text-decoration:none; font-size:.8em;' href='#'><%= stories[i].title %></a></h2>
          <p><%= stories[i].teaser %></p>
          <p style='text-align:right; font-size:.8em'><strong><a style='color:#428bca; text-decoration:none;' href='#'>Read it Now</a></strong></p>
        </td>
      <% } %>
    <% } %>
  </tr>

  <tr>
    <% for(var i=0; i<stories.length; i++) {%>
      <% if(stories[i].sort_index > 0 && stories[i].sort_index < 4) { %>
        <td width='190px'>
          <a href='#' style='text-decoration:none;'><h3 style='font-size:.8em; background-color:#EDEDED; padding:10px; color:#636363;'><%= stories[i].title %></h3></a>
          <% if(stories[i].images[0]){ %>
            <img style='margin:auto; display:block; width:100%;' src='<%= stories[i].images[0].url %>'>
          <% } %>
        </td>

        <% if(stories[i].sort_index != 3) %>
        <td width='15px'></td>
      <% } %>
    <% } %>
  </tr>


  <% for(var i=0; i<stories.length; i++) {%>

    <% if(stories[i].sort_index%2 == 0) { %>
      <tr>
    <% } %>

    <td colspan='2'>
      <a style='color:#428bca; text-decoration:none; font-size:.8em; display:block; margin-bottom:12px;' href='#'><%= stories[i].title %></a>
    </td>

    <% if(stories[i].sort_index%2 == 0) { %>
      <td></td>
    <% } %>

    <% if(stories[i].sort_index == stories.length - 1 || stories[i].sort_index%2 == 1) { %>
      </tr>
    <% } %>

  <% } %>

</table>