<% for(var i=0; i<stories.length; i++) {%>

  <% if(stories[i].body == ''){ %>
    <h6><%= stories[i].title %></h6>
  <% } else{ %>
    <div class='wysiwyg-two-col row-fluid' id='<%= stories[i].id %>'>
      <div class='wysiwyg-left-col span4'>
        <% if(stories[i].images[0]){ %>
          <% if(stories[i].images.length > 1){ %>
            <img style='width:100%;' alt='inline-gallery' data-id='<%= stories[i].id %>' src='<%= stories[i].images[0] %>'>
            <% for(var j=0; j<stories[i].images.length; j++) {%>
              <div class='gallery-image' style='display:none;' data-src='<%= stories[i].images[j] %>'></div>
            <% } %>
          <% } else { %>
            <img style='width:100%;' src='<%= stories[i].images[0] %>'>
          <% } %>
        <% } %>
      </div>
      <div class='wysiwyg-right-col span7'>
        <h2><%= stories[i].title %></h2>
        <p><%- stories[i].body %></p>
      </div>
    </div>
  <% } %>

<% } %>